<button (click)="baseClicked()">Layer</button>
<button (click)="paintClicked()">Paint</button>
<button (click)="invertedClicked()">Invert</button>

<select (change)="onSelectionChange($event.target)">
  <option>Drawable Tree Cluster</option>
  <option>Drawable Dirt Cliffs</option>
  <option>Drawable Dirt Road</option>
  <option>Drawable Dungeon</option>
  <option>Drawable Dungeon 2</option>
</select>

<select (change)="onTilesChange($event.target)">
  <option> cliffs </option>
  <option> trees </option>
  <option> trees2 </option>
  <option> crates </option>  
  <option> dirtRoad </option>
  <option> camping </option>
  <option> dungeon </option>
  <option> dungeon2 </option>
  
</select>

<!-- <img
src="assets/images/tileA5_world.png"
(click)="imageClick($event)"
/> -->
<div class="pallet-container">  
  <div *ngFor="let image of imageArray"
    class="image-container"
    (click)="tileClick(image)">
    <div 
      [style.width.px]="(image.tileWidth * image.multiplier)"
      [style.height.px]="image.tileHeight * image.multiplier"
      [style.overflow]="'hidden'">
      <img
        src="{{ image.spriteSheet.src }}"
        [style.top.px]="(-image.spriteGridPosY * image.multiplier)"
        [style.left.px]="(-image.spriteGridPosX * image.multiplier)"
        [style.position]="'relative'"/>
    </div>
  </div>
</div>


