canvas {
  // border: 25px solid rgb(107, 70, 35, .5);
  position: absolute;
}
.character-hover {
  color: wheat;
  height: 25px;
  width: 100%;
  position: absolute;
}

.game-canvas {
  height: 100%;
  width: 100%;
}