<!-- <h1>X{{hoveringCell?.x}}:Y{{hoveringCell?.y}}<h1> -->
<div class="game-canvas">
  <canvas #backgroundCanvas id="backgroundCanvas"></canvas>
  <canvas #overlayCanvas id="overlayCanvas"></canvas>
  
  <canvas #foregroundCanvas id="foregroundCanvas"></canvas>
  
  
  <canvas #fogCanvas id="fogCanvas">
  </canvas>
  
  
  <canvas #blackoutCanvas 
    id="blackoutCanvas"
    (mousedown)="onCanvasClick($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (keydown)="onKeyDown($event)"
    (keyup)="onKeyUp($event)">
  </canvas>
  <div class="character-hover">
    <!-- <h1>{{hoveringCell?.occupiedBy?.image?.src}}
    </h1> -->
  </div>
</div>


<canvas #drawCanvas *ngIf="editMode" id="drawCanvas">
</canvas> 