<button (click)="generateRandomMap()">Generate Random Map</button>

<div class="game-area">
  <world-warriors-arena-character-editor-pallete></world-warriors-arena-character-editor-pallete>
  <div>
    <world-warriors-arena-editor-pallete></world-warriors-arena-editor-pallete>
    <h1 [style.color]="'white'"> Selected Cell (x:{{selectedCell?.x}} - y:{{selectedCell?.y}}) </h1>
    <div>
      <world-warriors-arena-canvas></world-warriors-arena-canvas>
    </div>

  </div>
  
</div>
<world-warriors-arena-global-map></world-warriors-arena-global-map>
