/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;

}

.game-area {
  display: flex;
}


.upper-section {
  display: flex;

  .left-toolbar {
    z-index: 1;
    flex: 1;
    max-width: 144px;
  }
  
  .game-view {
    z-index: 0;
    max-height: calc(100vh);
    flex: 2;
  }
  
  .right-toolbar{  
    z-index: 1;  
    max-height: calc(100vh);
    flex: 1;
    max-width: 75px;
    overflow: auto;
  }
}
