<div class="game">
  <div class="upper-section">
    <div class="left-toolbar">
      <world-warriors-arena-editor-palette></world-warriors-arena-editor-palette>


    </div>
    <div class="game-view">
      <world-warriors-arena-canvas></world-warriors-arena-canvas>
    </div>
    
    
    <div class="right-toolbar">
      <world-warriors-arena-character-editor-palette></world-warriors-arena-character-editor-palette>
      
    </div>
  </div>
  <div class="bottom-toolbar">


  </div>

  <div class="game-area">
    <div>
      <div>
      </div>

    </div>

  </div>
  <!-- <world-warriors-arena-global-map></world-warriors-arena-global-map> -->


</div>