/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;

}

.game-area {
  display: flex;
}


.upper-section {
  display: flex;

  .left-toolbar {
    flex: 1;
    max-width: 144px;
  }
  
  .game-view {
    flex: 2;
  }
  
  .right-toolbar{
    flex: 1;
    max-width: 75px;
  }
}
