<button (click)="generateRandomMap()">Generate Random Map</button>
<button (click)="invertedClicked()">Invert</button>
<button (click)="baseClicked()">Layer</button>
<button (click)="canvasService.resetViewport()">Reset View Port</button>
<button (click)="changeLockState()" [class.color]="lockState === 'Locked'? 'red' : 'blue'">{{lockState}}</button>

<select (change)="changeScale($event.target)">
  <option>.5</option>
  <option>1</option>
  <option>2</option>
</select>

<select (change)="onSelectionChange($event.target)">
  <option>Drawable Tree Cluster</option>
  <option>Drawable Dirt Cliffs</option>
  <option>Drawable Dirt Road</option>
  <option>Drawable Dungeon</option>
  <option>Drawable Dungeon Tiles</option>
</select>

<select (change)="onTilesChange($event.target)">
  <option> trees2 </option>
  <option> crates </option>  
  <option> camping </option>
  <option> dungeonTiles </option>
  
</select>
<!-- <img
src="assets/images/tileA5_world.png"
(click)="imageClick($event)"
/> -->
<div class="pallet-container">  
  <div *ngFor="let image of imageArray"
    class="image-container"
    (click)="tileClick(image)">
    <div 
      [style.width.px]="(image.tileWidth * image.multiplier)"
      [style.height.px]="image.tileHeight * image.multiplier"
      [style.overflow]="'hidden'">
      <img
        src="{{ image.spriteSheet.src }}"
        [style.top.px]="(-image.spriteGridPosY * image.multiplier)"
        [style.left.px]="(-image.spriteGridPosX * image.multiplier)"
        [style.position]="'relative'"/>
    </div>
  </div>
</div>


