.pallet-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  margin: 2px;
  border: solid 1px slategrey;
  color: white;

  :hover {
    filter: blur(1px);
  }
}

button {
  width: 100%;
}

select {
  width: 100%;
}
